.wrapper{
	width:1000px;
	margin:0 auto;
	position:relative;	
}
/* login page */
.login_l{
	width:500px;
	float:left;
	margin-top:50px;
}
.login_r{
	width:420px;
	float:right;
}
.login_r .opacity_border{
	width:350px;
	margin-top:100px;
}
.login_r .opacity_border .td2{
	width:330px;
	background-color:#f3f3f3;
}
.opacity_border .td1{
	width:10px;
	background-color:#fff;
	opacity:0.5;
	filter:alpha(opacity=50);
}
#article .opacity_border{
	width:1000px;
}
#article .opacity_border .td2{
	width:980px;
	background-color:#fff;
}
.opacity_border .opacity_bg{
	height:10px;
}
.login_l_content{
	background-color:#ff9900;
	padding:10px;
	height:70px;
	width:412px;
	float:right;
}
.login_l_content .title{
	color:#ffebcc;
	padding:0px 0 10px 10px;
	height:30px;
	line-height:30px;
}
.login_l_content .title a{
	color:#ffebcc;
	width:160px;
	overflow:hidden;
	float:left;
	display:inline-block;
	height:30px;
}
.login_l_content{
	margin-bottom:40px;
}
.login_l_content .number{
	float:left;
	display:inline-block;
	height:30px;
	line-height:30px;
	width:110px;
	font-size:14px;
}
.login_l_content .left{
	background:url(../images/login-sprite.gif) no-repeat 0 0;
	float:left;
	width:312px;
	height:32px;
	overflow:hidden;
}
.login_l_content .left a,.login_l_content .right a{
	line-height:30px;
	*line-height:32px;
	padding-left:10px;
	font-size:14px;
	color:#fff;
}
.login_l_content .right{
	background:url(../images/login-sprite.gif) no-repeat -312px 0;
	float:right;
	width:100px;
	height:32px;
	overflow:hidden;
}
.login_l_content .left{
	background:url(../images/login-sprite.gif) no-repeat 0 0;
	float:left;
	width:312px;
	height:32px;
	overflow:hidden;
}
.login_red{
	background-color:#990000;
	width:380px;
}
.login_red .title{
	color:#660000;
}
.login_red .title a{
	color:#660000;
	width:150px;
}
.login_red .right{
	background-position:-280px -32px;
	width:100px;
}
.login_red .left{
	background-position:0 -32px;
	width:280px;
}
.login_orange{
	background-color:#f96500;
}
.login_orange .title{
	color:#f9dbc7;
}
.login_orange .title a{
	color:#f9dbc7;
}
.login_orange .right{
	background-position:-312px -64px;
}
.login_orange .left{
	background-position:0 -64px;
}
#login .login-bg{
	background:url(../images/login_bg.png) no-repeat 0 0;
	width:806px;
	height:424px;
	position:absolute;
	left:0px;
	top:70px;
	z-index:100;
}
.email-bg{
	background:url(../images/logo_big.png) no-repeat 0 0;
	width:217px;
	height:162px;
	position:absolute;
	left:200px;
	top:160px;
	z-index:100;
}
.regist-bg{
	background:url(../images/logo_big.png) no-repeat 0 0;
	width:217px;
	height:162px;
	position:absolute;
	left:200px;
	top:160px;
	z-index:100;
}
#login .login{
	float:right;
	width:340px;
	height:420px;
	*height:400px;
	margin-right:40px;
	margin-top:50px;
}
#login .login-content{
	width:320px;
	height:400px;
	background-color:#f3f3f3;
	padding-top:50px;	
}
.iePosition{
	position:relative;
	z-index:999;
}
#login .login-logo{
	background:url(../images/text.png) no-repeat 0 0;
	height:35px;
	width:215px;	
}
.email-logo{
	background:url(../images/text.png) no-repeat 0 -37px;
	height:35px;
	width:310px;
}
.regist-logo{
	background:url(../images/text.png) no-repeat 0 -78px;
	height:40px;
	margin-bottom:20px;
	*margin-bottom:40px;
	width:310px;
}
#regist-form .btn2 span{
	width:241px;
}
.email-validate-content{
	font-size:14px;
	line-height:35px;
	margin-top:20px;
}
#login .login-form-content,#login .regist-form-content{
	position:absolute;
	z-index:999;
	padding:19px;
	*padding-top:0px;
	width:282px;
}
#login .login-form-content .btn2 span{
	width:70px;
}
.text-input-email{
    border: 0 none;
    font-size: 14px;
	color:#666;
    height: 43px;
    margin-right: 8px;
    outline: 0 none;
    padding: 0 10px 0 40px;
	*padding-top:13px;
	*height:29px;
    width: 231px;
	background: url("../images/login-sprite.gif") no-repeat scroll 0px -143px transparent;
	font-family:tahoma;
	margin-bottom:19px;
	letter-spacing:1px;
}
.text-input-pwd{
    border: 0 none;
    font-size: 14px;
	color:#666;
    height: 43px;
    margin-right: 8px;
    outline: 0 none;
    padding: 0 10px 0 40px;
	*padding-top:13px;
	*height:29px;
     width: 231px;
	background: url("../images/login-sprite.gif") no-repeat scroll 0px -187px transparent;
	font-family:tahoma;
	margin-bottom:10px;
	letter-spacing:1px;
}
.text-input-name{
    border: 0 none;
    font-size: 14px;
	color:#666;
    height: 43px;
    margin-right: 8px;
    outline: 0 none;
    padding: 0 10px 0 40px;
	*padding-top:13px;
	*height:29px;
     width: 231px;
	background: url("../images/login-sprite.gif") no-repeat scroll 0px -230px transparent;
	font-family:tahoma;
	letter-spacing:1px;
}
.text-select-company{
	display:inline-block;
    border: 0 none;
    font-size: 14px;
	color:#37353A;
    height: 30px;
    margin-right: 8px;
    outline: 0 none;
    padding: 13px 10px 0 40px;
	*padding-top:13px;
	*height:29px;
     width: 231px;
	background: url("../images/login-sprite.gif") no-repeat scroll 0px -274px transparent;
	font-family:tahoma;
	letter-spacing:1px;
	cursor:pointer;
}
.text-textarea{
    border: 0 none;
    font-size: 14px;
	color:#666;
    height: 97px;
    margin-right: 8px;
    outline: 0 none;
    padding: 11px 10px 13px 40px;
    width: 231px;
	background: url("../images/login-sprite.gif") no-repeat scroll -282px -230px transparent;
	font-family:tahoma;
	letter-spacing:1px;
	line-height:22px;
	overflow-y:hidden;
}
.form-error{
	height:30px;
}
.error{
	background: url("../images/icon-sprite.gif") no-repeat scroll 5px -365px;
	padding-left:35px;
	color:#990000;
}
.normal-error{
	background: url("../images/icon-sprite.gif") no-repeat scroll 5px -437px;
	padding-left:35px;
	color:#990000;
}
.login-submit-btn{
	background: url("../images/login-sprite.gif") no-repeat scroll 0px -96px;
	height:41px;
	border:none;
	width:121px;
	display:inline-block;
	cursor:pointer;
}
.login-submit-btn:hover{
	background-position:-121px -96px;	
}
.login-submit-btn-visited {
	background-position:-242px -96px;	
}
.form-submit input,.form-submit label{
	float:left;
	line-height:41px;
	font-size:14px;
	color:#515151;
}
#remember-me{
	margin-top:15px;
	*margin-top:10px;
	margin-left:40px;
}
.form-bottom{
	border-top:1px solid #e9e9e9;
	padding-top:15px;
	text-align:right;
	margin-top:96px;
}
#regist-form .form-bottom{
	margin-top:60px;
}
.email-bottom{
	border-top:1px solid #e9e9e9;
	padding-top:15px;
	font-size:14px;
	margin-top:30px;
}
.email-bottom .btn3{
	margin-top:20px;
	width:180px;
}
.btn3{
	line-height:40px;	
	height:40px;
	text-align:center;
	display:inline-block;
	color:#fff;
	background-color:#dddddd;
	border:1px solid #ccc;
}
.btn4{
	background: url("../images/sprite.gif") no-repeat scroll -1px -46px;
	line-height:42px;	
	height:42px;
	width:162px;
	text-align:center;
	display:inline-block;
	color:#959595;
	margin-top:20px;
}
.form-bottom a{
	font-size:14px;
	font-weight:bold;
	color:#736357;
}
#login{
	padding-bottom:20px;
}
#autoTxt{
	width:279px; border-left:1px solid #d8d8d8; border-top:1px solid #d8d8d8; border-right:1px solid #d8d8d8;display:none; background:#FFFFFF; position: absolute; z-index:9999;
	overflow:hidden;
}
#autoTxt li{
	height:40px;
	border-bottom:1px solid #d8d8d8;
	line-height:40px;
	padding-left:40px;
	font-size:14px;
	letter-spacing:1px;
	font-weight:bold;
}
.userinfo-logo{
	background:url(../images/logo_middle.png) no-repeat 0 0;
	width:348px;
	height:70px;
	position:absolute;
	left:10px;
	top:10px;
}
#commonBg #userInfo.wrapper{
	padding-top:80px;	
}
#userInfo .opacity_border{
	width:1000px;
}
#userInfo .userinfo-content{
	background-color:#fff;
	padding:60px 110px;
}
#userInfo .userinfo-tips{
	background-color:#fffef7;
	height:35px;
	padding-top:5px;
	position:relative;
}
#userInfo .userinfo-tips-content{
	background: url(../images/text.png) no-repeat 0 -118px;
	padding-left:120px;
	height:30px;
	line-height:30px;
}
#userInfo .btn-close{
	display:inline-block;
	width:25px;
	height:25px;
	background: url("../images/icon-sprite.gif") no-repeat scroll -4px -393px transparent;
	position:absolute;
	top:5px;
	right:10px;
	cursor:pointer;
}
#userInfo .form-bottom{
	border-top:1px solid #e9e9e9;
	padding-top:15px;
	text-align:left;
	margin-top:40px;
	padding-left:20px;
}
#userInfo .form-content{
	padding-left:20px;
}
#userInfo .form-bottom a{
	color:#bcbcbc;
}
.userinfo-bg{
	background:url(../images/text.png) no-repeat 20px -150px;
	height:70px;
	width:360px;
}
#userInfo .btn2 span{
	width:241px;
}
#userInfo .form-content-item{
	margin-bottom:30px;
}
#userInfo .label-input input,#userInfo .label-input label{
	font-size:14px;
	float:left;
}
.upload-image{
	position:relative;
	overflow:hidden;
}
.form-content-item{
	position:relative;
}
.upload-image img{
	border-radius:3px;
}
.cover-gray{
	position:absolute;
	top:40px;
	width:80px;
	border-radius:0 0 3px 3px;
	line-height:40px;
	*line-height:43px;
	overflow:hidden;
	height:40px;
	text-align:center;
	font-size:14px;
	color:#fff;
	background-color:#555;
	opacity:0.7;
	left:0;
	filter:alpha(opacity=70);
}
.cover-gray a{
	color:#fff;
}
.form-content-item .normal-error{
	position:absolute;
	top:12px;
	background-position:5px -435px;
	*background-position:5px -436px;
	_background-position:5px -434px;
	left:294px;
}
.upload-image .normal-error{
	top:30px;
	background-position:5px -434px;
	*background-position:5px -435px;
	_background-position:5px -433px;
}
.hide-file{
	position:absolute;
	top:48px;
	left:-135px;
	*left:-155px;
	opacity:0;
	filter:alpha(opacity=0);
	cursor:pointer;
}
#sex_m{
	margin-left:15px;
	margin-top:3px;
	*margin-top:-1px;
}
#sex_f{
	margin-left:30px;
	margin-top:3px;
	*margin-top:-1px;
}
.select-company{
	position:relative;
	z-index:1000;
}
.select-company-popup{
	padding:10px 15px;
	border:1px solid #e0e0e0;
	width:700px;
	position:absolute;
	z-index:999;
	background-color:#f9f9f9;
	left:0;
	top:42px;
}
.select-company-popup li{
	float:left;
	color:#00aeef;
	width:175px;
	overflow:hidden;
	height:35px;
	line-height:35px;
	cursor:pointer;
	text-align:center;	
}
.select-company-popup li:hover{
	background-color:#ebf8ef;
}
.select-company{
	position:relative;
}
/* header */
#header{
	background-color:#f3f3f3;
	height:40px;
	position:relative;
	z-index:9999;
}
#header .logo{
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	background: url(../images/logo.png) no-repeat;
	display:inline-block;
	width:102px;
	height:60px;
}
#header .text-input-container{
	margin-left:140px;
	float:left;
	margin-top:4px;
	position: relative;
	*display:inline;
}
#header .text-input {
    border: 0 none;
    color: #333333;
    font-size: 12px;
	color:#242128;
    height: 33px;
    margin-right: 8px;
    outline: 0 none;
    padding: 0 30px 0 30px;
	*padding-top:10px;
	*height:22px;
    width: 192px;
	background: url("../images/sprite.gif") no-repeat scroll 0px 0px transparent;
	font-family:tahoma;
}
#header .text-input-clear {
    background: url("../images/sprite.gif") no-repeat scroll -257px -9px transparent;
	display: none;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 18px;
    top: 9px;
    width: 21px;
    z-index: 6;
	cursor:pointer;
}
#nav{
	float:left;
	margin-left:20px;
	width:580px;
}
#nav a{
	font-size:18px;
	padding:0 3px;
	line-height:40px;
	color:#b1aeae;
	position:relative;
	z-index:9999;
}
#nav .i {
    background: url("../images/icon-sprite.gif") no-repeat scroll -4px 0px transparent;
	display:inline-block;
	width:28px;
	height:20px;
	left:18px;
	text-align:center;
	color:#fff;
	line-height:15px;
	top:5px;
    position: absolute;
}
#nav .a{
    border-color: #666666 #F5F5F5 #F5F5F5;
    border-style: solid;
    border-width: 4px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 16px;
    top: 19px;
    transition: transform 0.2s ease-in 0s;
    width: 0;
}
#header #nav .has-a{
	font-size:12px;
	color:#555;
	display:inline-block;
	padding:0 35px;
}
#header #nav .has-a:hover{
	background-color:#fff;	
}
#header #nav .nav-msg .has-a{
	padding-left:54px;
}
#nav .has-a:hover .a {
    transform: rotate(180deg);
    transform-origin: 50% 30%;
}
#nav .nav-msg-hover .a,#nav .nav-admin-hover .a {
    transform: rotate(180deg);
    transform-origin: 50% 30%;
}
#navbar li{
	float:left;
	padding:0 10px;
	line-height:40px;
	height:40px;
}
#header #nav a.cur{
	color:#37353a;
}	
#navbar .nav-msg{
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
}
#navbar .nav-msg-hover,#navbar .nav-admin-hover{
	background-color:#fff;
}
#navbar .nav-admin{
	border-right:1px solid #e6e6e6;
	padding-left:30px;
}
#navbar .nav-admin,#navbar .nav-msg{
	position:relative;
	float:right;
	padding:0;
}
.nav-msg-pop{
	position:absolute;
	background-color:#ffffff;
	border:1px solid #dddddd;
	border-bottom-width:0;
	z-index:9999;
	width:180px;
	right:-1px;
	top:39px;
	box-shadow:1px 1px 3px #aaa;
}
.nav-msg-pop,.nav-admin-pop{
	position:absolute;
	background-color:#ffffff;
	border:1px solid #dddddd;
	border-bottom-width:0;
	z-index:9999;
	right:-1px;
	top:39px;
	box-shadow:1px 1px 3px #aaa;
}
#navbar .nav-msg-pop li,#navbar .nav-admin-pop li{
	padding:10px 18px;
	height:auto;
	line-height:22px;
	border-bottom:1px solid #dddddd;
	float:none;
}
#navbar .nav-msg-pop li:hover,#navbar .nav-admin-pop li:hover{
	background-color:#f3f3f3;
}
#nav .nav-msg-pop a,#nav .nav-admin-pop a{
	color:#00aeef;
	line-height:20px;
	font-size:12px;
}
/* article */
#article,#commonBg{
	background:url(../images/main_bg_wrapper.png) repeat 0 0;
}
#article .wrapper,#commonBg .wrapper{
	background:url(../images/main_bg.png) repeat-y 0 0;
	min-height:600px;
	padding:40px 0;
}
.footer{
	text-align:right;
	margin-top:20px;
	padding-right:20px;
}
#main-sidebar{
	width:90px;
	float:left;
}
#main-sidebar .sidebar-header{
	background:url(../images/sidebar-header.gif) no-repeat 0 0;
	width:90px;
	height:60px;
}
#main-sidebar .sidebar-content{
	width:89px;
	border-left:1px solid #d8d4cf;
	padding-bottom:80px;
	border-bottom:1px solid #e2e2e1;
}
#main-sidebar .sidebar-ul{
	background:url(../images/sidebar-bg.gif) repeat-y right 0;
	padding:25px 0;
}
#main-sidebar .sidebar-ul li{
	margin-bottom:25px;
	text-align:center;
}
#main-sidebar .sidebar-ul li a{
	background: url("../images/icon-sprite.gif") no-repeat scroll center -50px transparent;
	height:20px;
	text-align:center;
	padding-top:25px;
	display:inline-block;
}
#main-sidebar .sidebar-ul li.item2 a{
	background-position:center -93px;
}
#main-sidebar .sidebar-ul li.item3 a{
	background-position:center -138px;
}
#main-sidebar .sidebar-ul li.item4 a{
	background-position:center -183px;
}
#main-sidebar .sidebar-ul li.item5 a{
	background-position:center -223px;
}
#main-sidebar .sidebar-ul li.item6 a{
	background-position:center -268px;
}
#main-sidebar .sidebar-ul li.item7 a{
	background-position:center -310px;
}
#main-content{
	width:889px;
	float:right;
	padding-bottom:30px;
	border-bottom: 1px solid #E2E2E1;
	border-right: 1px solid #E2E2E1;
}
#main-content .main-left{
	float:left;
	width:570px;
	padding:0 25px;
}
#main-content .main-right{
	float:left;
	width:244px;
}
#main-content .main-nav{
	height:72px;
	background-color:#f4f4f3;
	border-bottom:1px solid #e2e2e1;
}
#main-content .main-nav a{
	line-height:70px;
	padding:0 42px;
	font-size:14px;
	color:#B1AEAE;
}
#main-content .main-nav a.cur{
	font-size:18px;
	color:#515151;
}
#main-content .main-left-1{
	width:70px;
	float:left;
	height:50px;
}
#main-content .main-left-1 img{
	border-radius:3px;
}
#main-content .main-left-2{
	width:400px;
	float:left;
}
#main-content .main-left-3{
	width:100px;
	float:left;
}
#main-content .main-left-2 .title{
	height:28px;
}
#main-content .main-left-2 .content{
	font-size:18px;
	height:20px;
	overflow:hidden;
}
.gray-btn{
	background-color:#dddddd;
	border-radius:10px;
	color:#fff;
	padding:2px 15px;
	*padding-top:4px;
}
.btn1{
	background:url(../images/answer.gif) no-repeat 0 0 #f3f3f3;
	height:21px;
	display:inline-block;
	padding:0 10px;
	line-height:21px;
}
#main-content .main-left-2 .title .gray-btn{
	margin-left:30px;
}
#main-content .main-left ul{
	margin-top:10px;
}
#main-content .main-left li{
	padding:20px 0;
	border-bottom:1px solid #eee;
}
#main-content .main-left-3 .btn1{
	float:right;
	margin-top:28px;
}
.loading-more{
	height:28px;
	line-height:28px;
	border:1px solid #eee;
	border-top-width:0;
	border-radius:3px;
	text-align:center;
	background:url(../images/more_bg.gif) repeat-x 0 0;
}
.main-right .send-div{
	width:195px;
	height:255px;
	background:url(../images/send_bg.gif) no-repeat 0 0;
	margin-top:30px;
	padding:25px;
}
.main-right .send-div .title{
	font-size:14px;
	color:#736357;
	text-align:center;
	margin-bottom:20px;
}
.btn2{
	background:url(../images/btn_bg.gif) no-repeat right 0;
	display:inline-block;
	height:41px;
	line-height:44px;
	color:#fff;
	padding-right:20px;
	font:14px;
}
.btn2 span{
	background:url(../images/btn_bg.gif) repeat-x right -45px;
	display:inline-block;
	padding-left:20px;
	width:155px;
	height:41px;
	text-align:center;	
}
.btn2:hover{
	background-position:right -90px;
}
.btn2:hover span{
	background-position:0 -136px;
}
.btn2:active{
	background-position:right -180px;
	line-height:46px;
}
.btn2:active span{
	background-position:0 -226px;
}