<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>酷味</title>
    <meta name="keywords" content="酷味" />
    <meta name="description" content="酷味" />
    <link href="{{MEDIA_URL}}css/base.css" type="text/css" rel="stylesheet" />
    <link href="{{MEDIA_URL}}css/common.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/common.js"></script>
    <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
               
            </div>
        </div>
    </div>
    {% block content %}

    <h1>No content set</h1>

    {% endblock %}
</body>
</html>
