{% extends "base.html" %}

{% block content %}
<body>
    <div id="commonBg">
    	<div class="wrapper">
        	<div id="login" class="emailValidate clearfix">
            	<div class="email-bg png">
                </div>
                <table class="opacity_border login">
                	<tr>
                    	<td class="opacity_bg td1" colspan="3"></td>
                    </tr>
                    <tr>
                    	<td class="td1"></td>
                        <td class="td2"> 	
                            <div class="login-content">
                            	<div class="email-logo png"></div>
                                <div class="iePosition">
                                    <div class="login-form-content">
                                        <div class="email-validate-content clearfix">
                                            Hi~~ 你好，<br />
                                            我们已收到你的注册信息咯，<br />
                                            <a href="" class="yellow">
                                            	请前往 " huang******@snda.com " ，<br />查收"注册激活邮件"吧！
                                            </a>
                                        </div>
                                        <div class="email-bottom">
                                            没有收到邮件？
                                            <br />
                                            <span class="btn3">已发送（<span class="email-validate-number">30</span> 秒后再发送）</span>
                                            <span class="hide"><a href="javascript:;" class="btn4">重新发送激活邮件</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       	</td>
                        <td class="td1"></td>
                    </tr>
                    <tr>
                    	<td class="opacity_bg td1" colspan="3"></td>
                    </tr>
                </table>
            </div>      	
            <div class="footer">
            	2012-2013 © 酷味网 京ICP备案号12345678号 
            </div>
        </div>
    </div>
	<script type="text/javascript">
        $(document).ready(function(){
            email_validate();
        })
    </script>
{% endblock %}
