{% extends "picture_base.html" %}

{% load upload_head_image_tags %}

{% block content %}
 
    <div id="commonBg">
        <div id="userInfo" class="wrapper">
            <div class="clearfix">
                <div class="userinfo-logo png">
                </div>
                <table class="opacity_border login">
                    <tr class="tips_tr">
                        <td class="opacity_bg td1" colspan="3"></td>
                    </tr>
                    <tr class="tips_tr">
                        <td class="td1"></td>
                        <td class="td2">    
                            <div class="userinfo-tips">
                                <div class="userinfo-tips-content png">
                                    欢迎加入酷味。
                                    <span class="yellow">完善个人信息后，立即体验酷味！</span>
                                </div> 
                                <span class="btn-close"></span>       
                            </div>
                        </td>
                        <td class="td1"></td>
                    </tr>
                    <tr>
                        <td class="opacity_bg td1" colspan="3"></td>
                    </tr>
                    <tr>
                        <td class="td1"></td>
                        <td class="td2">    
                            <div class="userinfo-content">
                                <div class="userinfo-bg png"></div>
                                <div class="iePosition">
                                    
                                    <div class="form-content">
                                        <form id="fileupload" method="post" action="/accounts/uploadHeadImage/" enctype="multipart/form-data">{% csrf_token %}
                                        <div class="form-content-item upload-image">
                                            {% if user.get_profile.photos %}
                                                 <img id="user_head_image" src="{{ user.get_profile.headImage }}" width="80" height="80"/>
                                            {% else %}
                                                 <img id="user_head_image" src="/media/images/header-image.gif" width="80" height="80"/>
                                            {% endif %}
                                
                                            <div class="cover-gray"><a href="javascript:;">上传头像</a></div>
                                        
                                            <input type="file" name="file" class="hide-file" />
                                         
                                            <table class="table table-striped">
                                                <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
                                                </tbody>
                                            </table>
                                        
                                        </div>
                                        </form>
                                        <form id="userinfo-form" method='post' action='' enctype="multipart/form-data" >{% csrf_token %}
                                        <div class="form-content-item">
                                            <input type="text" class="text-input-name" name="nickname" value="{{ user.get_profile.nickname }}"  placeholder="姓名" />

                                            {% if form.nickname.errors  %}
                                            <span class="normal-error">{{ form.nickname.errors.as_text }}</span>
                                            {% endif %}
                                            
                                        </div>
                                        <div class="form-content-item clearfix label-input">
                                            <input type="radio" checked="true" name="sex" value='male' id="male" />
                                            <label for="male">&nbsp;男</label>
                                            <input type="radio" name="sex" value='female' id="female" />
                                            <label for="female">&nbsp;女</label>
                                        </div>
                                        <!-- 
                                        <div class="form-content-item iePosition">
                                            <div class="select-company">
                                                <span class="text-select-company">盛大-北京-海淀区</span>
                                                <span class="normal-error">您所在的公司还在封测！<a href="#" target="_blank" class="blue">领取邀请码</a></span>
                                                <div class="select-company-popup hide"> 
                                                    <ul class="clearfix">
                                                        <li>盛大-上海-海淀区</li>
                                                        <li>盛大-杭州-海淀区</li>
                                                        <li>盛大-北京-海淀区</li>
                                                        <li>盛大-成都-海淀区</li>
                                                        <li>盛大-深圳-海淀区</li>
                                                        <li>盛大-南京-海淀区</li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        -->
                                        <div class="form-content-item">
                                             <textarea name="description" placeholder="一句话介绍自己" class="text-textarea">{{ user.get_profile.description }}</textarea>
                                        </div>
                                        <div class="form-submit clearfix form-content-item">
                                            <a href="javascript:;" onclick="$('#userinfo-form').submit();" class="btn2"><span>确认，提交信息</span></a>
                                        </div> 
                                        </form>
                                    </div>
                                    
                                    <div class="form-bottom">
                                        <a href="#">< 登出此账号</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="td1"></td>
                    </tr>
                    <tr>
                        <td class="opacity_bg td1" colspan="3"></td>
                    </tr>
                </table>
            </div>          
            <div class="footer">
                2012-2013 © 酷味网 京ICP备案号12345678号 
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            user_info();
        })
    </script>

{% upload_head_image_js %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.ui.widget.js"></script>
<script src="{{ MEDIA_URL }}js/tmpl.min.js"></script>
<script src="{{ MEDIA_URL }}js/load-image.min.js"></script>
<script src="{{ MEDIA_URL }}js/canvas-to-blob.min.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-image-gallery.min.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.iframe-transport.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.fileupload.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.fileupload-fp.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.fileupload-ui.js"></script>
<script src="{{ MEDIA_URL }}js/locale.js"></script>
<script src="{{ MEDIA_URL }}js/main.js"></script>
<script src="{{ MEDIA_URL }}js/csrf.js"></script>
<script src="{{ MEDIA_URL }}js/common.js"></script>
{% endblock %}
