{{ postObj.title }} <br />
{{ postObj.content }} <br />

{% for reply in replys %}
    {# Each "reply" is a Contact model object. #}

    {{ reply.content }}<br />
{% endfor %}

<form action="reply/" method="post">{% csrf_token %}
	{{ form.as_p }}
<input type="submit" value="回复" />
</form>

<div >
    <span >
        {% if replys.has_previous %}
            <a href="?page={{ replys.previous_page_number }}">previous</a>
        {% endif %}
        <span >
            Page {{ replys.number }} of {{ replys.paginator.num_pages }}.
        </span>
        {% if replys.has_next %}
            <a href="?page={{ replys.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

